In [1]:
import pandas as pd

In [2]:
# dataset imported
df = pd.read_csv("dataset.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [6]:
# dropping 'id' column (ملوش لازمة)
df.drop('id', axis = 1, inplace = True)

In [13]:
# checking the mull values number
df.isnull().sum().sum()
# سؤال على جنب ليش ما نشطبهم ونرتاح حبتين

14754

In [12]:
# مش عارف شو اكتب بس انه بشوف شو الأعمدة المخربة علينا 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             43400 non-null  object
 1   age                43400 non-null  float64
 2   hypertension       43400 non-null  int64
 3   heart_disease      43400 non-null  int64
 4   ever_married       43400 non-null  object
 5   work_type          43400 non-null  object
 6   Residence_type     43400 non-null  object
 7   avg_glucose_level  43400 non-null  float64
 8   bmi                41938 non-null  float64
 9   smoking_status     30108 non-null  object
 10  stroke             43400 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 3.6+ MB

In [15]:
# خلينا نفصل الأعمدة الخربانة
t_bmi = df['bmi']
t_smoking_status = df['smoking_status']

In [18]:
t_smoking_status

0                    NaN
1           never smoked
2                    NaN
3        formerly smoked
4                    NaN
              ...
43395       never smoked
43396    formerly smoked
43397    formerly smoked
43398       never smoked
43399       never smoked
Name: smoking_status, Length: 43400, dtype: object

In [20]:
# فش أخطاء كتابية
t_smoking_status.value_counts()

smoking_status
never smoked       16053
formerly smoked     7493
smokes              6562
Name: count, dtype: int64

In [31]:
# interpolating step to fill null values in the numerical column (bmi)
t_bmi = t_bmi.interpolate(method ='linear', limit_direction ='both')

In [33]:
# أول عمود تم 
t_bmi.isnull().sum().sum()

0

In [34]:
df.bmi = t_bmi

In [35]:
# معلش أحيانًا بوسوس فبدي اتأكد انه زبط
df.isnull().sum()

gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                      0
smoking_status       13292
stroke                   0
dtype: int64

In [36]:
# حلو ظل عمود categorical

In [38]:
df.isnull().sum().sum()

13292